<app-modal id="login" [title]="'Please enter your credentials'" [closeable]="false" #modal>
  <form [formGroup]="loginForm">
    <div class="row">
      <div class="label">Username:</div><input class="username" type="text" formControlName="username" [form]="loginForm" formInput>
    </div>
    <div class="row">
      <div class="label">Password:</div><input type="password" formControlName="password" [form]="loginForm" formInput>
    </div>
  </form>
  <div class="modal-footer">
    <app-button (click)="signIn()">Login</app-button>
  </div>
</app-modal>
