.default-button {
  min-width: 75px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #3d4752;
  border-top-color: rgb(61, 71, 82);
  border-right-color: rgb(61, 71, 82);
  border-bottom-color: rgb(61, 71, 82);
  border-left-color: rgb(61, 71, 82);
  margin: 0 5px;
  zoom: 1;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #626c77;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#717a84),color-stop(50%,#626c77),color-stop(51%,#5d6671),color-stop(100%,#626c77));
  background-image: -webkit-linear-gradient(top,#717a84,#626c77 50%,#5d6671 51%,#626c77);

  &:active {
    background-image: -webkit-linear-gradient(top,#495159,#454c54 50%,#495159 51%,#5b6269);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
