<app-tab-panel>
  <app-tab [title]="'Bejövő'">
    <app-grid
      module="viekr-incoming"
      [model]="incomingModel"
      [height]="800"
      [rowWidth]="150"
      (rowDoubleClick)="onIncomingRowDoubleClick($event)"
      showFilters
      showPaginator
      showSavedViews
      #incomingGrid
    >
    <span class="bottom-left-toolbar">
      <app-toolbar-button (click)="replyMessage()" #toolbarButton>Válasz</app-toolbar-button>
      <app-toolbar-button (click)="showNewMessageWindow()" #toolbarButton>Új üzenet</app-toolbar-button>
    </span>
    <span class="bottom-toolbar">
      <form [formGroup]="assignToUserForm">
        <app-combo-box formControlName="user" [model]="usersModel" listPosition="top" [control]="assignToUserForm.controls.user" [form]="assignToUserForm" formInput></app-combo-box>
        Ü. száma: <input formControlName="count" class="case-number" type="number" [form]="assignToUserForm" formInput>
        <app-toolbar-button type="submit" (click)="onAssignToUserFormSubmit()" #toolbarButton>Felelős</app-toolbar-button>
        {{ incomingGrid.selection.length }} kijelölt rekord
      </form>
      <app-toolbar-button (click)="exportIncoming()" float="right">Excel export</app-toolbar-button>
    </span>
    </app-grid>
    <app-viekr-attachment [attachmentData]="attachmentData" [attachmentId]="attachmentId"></app-viekr-attachment>
    <app-viekr-message></app-viekr-message>
  </app-tab>
  <app-tab [title]="'Kimenő'">
    <app-grid
      module="viekr-outgoing"
      [model]="outgoingModel"
      [height]="800"
      [rowWidth]="150"
      showFilters
      showPaginator
      showSavedViews
      #outgoingGrid
    >
    <span class="bottom-toolbar">
      <app-toolbar-button (click)="blockOutgoing()">Blokkolás</app-toolbar-button>
      <app-toolbar-button (click)="exportOutgoing()" float="right">Excel export</app-toolbar-button>
    </span>
    </app-grid>
  </app-tab>
  <app-tab [title]="'Elküldött'">
    <app-grid
      module="viekr-sent"
      [model]="sentModel"
      [height]="800"
      [rowWidth]="150"
      showFilters
      showPaginator
      showSavedViews
      #sentGrid
    >
    <span class="bottom-toolbar">
      <app-toolbar-button (click)="exportSent()" float="right">Excel export</app-toolbar-button>
    </span>
    </app-grid>
  </app-tab>
</app-tab-panel>
