<app-tab-panel>
  <app-tab [title]="'Bejövő'">
    <app-grid
      module="viekr"
      [model]="incomingModel"
      [height]="800"
      [rowWidth]="150"
      showFilters
      showPaginator
      showSavedViews
    >
    <span class="bottom-left-toolbar">
      <app-toolbar-button #toolbarButton>Válasz</app-toolbar-button>
      <app-toolbar-button #toolbarButton>Új üzenet</app-toolbar-button>
    </span>
    <span class="bottom-toolbar">
      <form [formGroup]="assignToUserForm">
        <app-combo-box formControlName="user" [model]="usersModel" listPosition="top" [control]="assignToUserForm.controls.user" [form]="assignToUserForm" formInput></app-combo-box>
        Ü. száma: <input formControlName="count" class="case-number" type="number" [form]="assignToUserForm" formInput>
        <app-toolbar-button type="submit" (click)="onAssignToUserFormSubmit()" #toolbarButton>Felelős</app-toolbar-button>
      </form>
      <app-toolbar-button float="right" #toolbarButton>Excel export</app-toolbar-button>
    </span>
    </app-grid>
  </app-tab>
  <app-tab [title]="'Kimenő'"></app-tab>
  <app-tab [title]="'Elküldött'"></app-tab>
</app-tab-panel>
