<app-modal (onClose)="unlockAttachment()" id="viekrAttachment" fullScreen="true" alignFooter="start" [title]="attachmentData && attachmentData.locked ? 'Lockolva általa: ' + attachmentData.lock_user : ''">
  <div *ngIf="attachmentData" class="container">
    <div class="controls">
      <div class="document-types">
        {{ 'viekr.documentType' | translate }}
        <app-checkbox-group [disabled]="isDisabled" [model]="documentTypesModel" labelAttribute="label" #documentTypes></app-checkbox-group>
      </div>
      <div class="debtor" *ngFor="let subscriber of subscribers; let i = index" [style.color]="isDisabled ? 'grey' : ''">
        {{ 'common.ceid' | translate }}: <input [disabled]="isDisabled" (keyup)="onCeidChange($event.target.value, i)" [style.color]="isDisabled ? 'grey' : ''" type="number" class="ceid" ceidInput #debtorCeidInput>
        {{ 'common.subscriber' | translate }}: <app-combo-box [disabled]="isDisabled" width="250" class="subscribers" (selectionChange)="debtorComboboxChange($event, i)" #debtorCombobox></app-combo-box>
        <span #subscriberDescription></span>
      </div>
      <app-button *ngIf="!isDisabled" class="new-debtor-button" (click)="newDebtor()">{{ 'common.newItem' | translate }}</app-button>
      {{ 'common.message' | translate }}:<br>
      <textarea class="message-field" [(ngModel)]="attachmentData.tartalom" disabled></textarea>
      <app-grid [model]="commentsModel" [height]="300" [border]="false"></app-grid>
    </div>
    <div class="attachment">
      <ngx-extended-pdf-viewer [src]="attachmentUrl + attachmentData.file_name" height="90vh" useBrowserLocale="true"></ngx-extended-pdf-viewer>
    </div>
  </div>
  <div class="modal-footer" [hidden]="attachmentData && attachmentData.locked">
    <form [formGroup]="saveAttachmentForm">
      <span>{{ 'common.status' | translate }}: <app-combo-box formControlName="status" [model]="statusesModel" listPosition="top" [control]="saveAttachmentForm.controls.status" [form]="saveAttachmentForm" formInput></app-combo-box></span>
      <span>{{ 'viekr.executorLetterType' | translate }}: <app-combo-box formControlName="letterType" [model]="letterTypesModel" listPosition="top" [control]="saveAttachmentForm.controls.letterType" [form]="saveAttachmentForm" formInput></app-combo-box></span>
      <span>{{ 'common.comment' | translate }}: <input type="text" formControlName="comment" [form]="saveAttachmentForm" formInput></span>
      <span>{{ 'viekr.responsible' | translate }}: <app-combo-box formControlName="assignee" [model]="usersModel" listPosition="top" [control]="saveAttachmentForm.controls.assignee" [form]="saveAttachmentForm" formInput></app-combo-box></span>
      <span>{{ 'common.dueDate' | translate }}: <app-date-picker [width]="150" formControlName="dueDate" [control]="saveAttachmentForm.controls.dueDate" [form]="saveAttachmentForm" [options]="dpOptions" formInput></app-date-picker></span>
    </form>
    <app-button class="save-button" (click)="save(); modalService.close('viekrAttachment')">{{ 'common.save' | translate }}</app-button>
  </div>
</app-modal>
