.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* enables scrolling for tall modals */
  overflow: auto;

  .modal-header {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    padding: 7px;
    background-color: #626c77;
    .close {
      position: absolute;
      right: 7px;
      top: 10px;
      opacity: .5;
      cursor: pointer;
      overflow: hidden;
      border: 0;
      width: 16px;
      height: 16px;
      background-image: url('/assets/tool-sprites.png');
      background-position: 0 0;
      &:hover {
        opacity: .6;
      }
    }
  }

  .modal-body {
    min-width: 200px;
    position: relative;
    padding: 15px 15px 50px 15px;
    background: #fff;
    border: 5px solid #626c77;
    border-top: none;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    height: 35px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: rgb(228, 229, 231);
  }
}

.modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #fff;
  opacity: 0.75;
}

body.modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
