<div class="modal" [style.z-index]="zIndex">
  <div class="modal-window" [style.width]="width ? width + 'px' : fullScreen ? '100vw' : ''">
    <div class="modal-header">
      <div>{{ title | translate }}</div><div class="close" (click)="close()"></div>
    </div>
    <div class="modal-body" [style.height]="height ? height + 'px' : fullScreen ? '96.5vh' : ''">
      <ng-content></ng-content>
      <div class="modal-footer" [style.justify-content]="alignFooter === 'center' ? alignFooter : 'flex-' + alignFooter">
        <ng-content select=".modal-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
<div class="modal-background" [style.z-index]="zIndex - 1"></div>
