<app-modal id="viekrMessage" fullScreen="true" [title]="'Message - Viekr'">
  <form [formGroup]="form">
    <div class="input-row">
      <span class="title">{{ 'viekr.organizationId' | translate }}:</span>
      <span class="input"><app-combo-box [model]="organizationsModel" width="full" formControlName="organizationId" [control]="form.controls.organizationId" [form]="form" formInput></app-combo-box></span>
    </div>
    <div class="input-row">
      <span class="title">{{ 'common.subject' | translate }}:</span>
      <span class="input"><input type="text" formControlName="subject" [form]="form" formInput></span>
    </div>
    <div class="input-row">
      <span class="title">{{ 'common.ceid' | translate }}:</span>
      <span class="input"><input type="text" formControlName="ceids" [form]="form" formInput></span>
    </div>
    <div class="input-row">
      <span class="title">{{ 'common.subscriber' | translate }}:</span>
      <span class="input"><app-combo-box width="full" formControlName="subscriberId" [control]="form.controls.subscriberId" [form]="form" [disabled]="true" [placeholder]="'viekr.selectableAfterTypingCeid' | translate" formInput #debtorCombobox></app-combo-box></span>
    </div>
    <div class="input-row">
      <span class="title">{{ 'viekr.executionNumber' | translate }}:</span>
      <span class="input"><input type="text" formControlName="vhNumber" [form]="form" disabled formInput></span>
    </div>
    <div class="input-row">
      <span class="title">{{ 'viekr.attachable' | translate }}:</span>
      <span class="input"><app-combo-box [model]="actionTypesModel" width="full" formControlName="actionType" [control]="form.controls.actionType" [form]="form" formInput></app-combo-box></span>
    </div>
    <div class="input-row" *ngFor="let item of additionalAttachments; let i = index">
      <span class="title">{{ i === 0 ? ('viekr.additionalAttachments' | translate) : '' }}</span>
      <span class="file-input"><input [id]="'attachment_' + i" type="file" (change)="onFileInputChange($event.target.files, i)"><input type="text" [value]="item ? item.name : ''" disabled><label class="default-button" [for]="'attachment_' + i">{{ 'common.browse' | translate }}</label></span>
    </div>
    <app-button class="additional-attachment-button" (click)="newAttachment()">{{ 'viekr.attachAdditionalFile' | translate }}</app-button>
  </form>
  <div class="message">
    <editor [(ngModel)]="message" [init]="{
      base_url: '/tinymce',
      menubar: false,
      suffix: '.min',
      max_height: 500,
      min_height: 500,
      plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount autoresize'
      ],
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat | help'
    }" #messageField></editor>
  </div>
  <div class="modal-footer">
    <app-button (click)="onFormSubmit()">{{ 'common.send' | translate }}</app-button>
    <app-button (click)="modalService.close('viekrMessage')">{{ 'common.cancel' | translate }}</app-button>
  </div>
</app-modal>
