<div class="menu" [style.display]="hidden ? 'none' : 'block'" #menu>
  <input type="text" [placeholder]="('common.search' | translate) + '...'" class="search" [(ngModel)]="search">
  <div class="most-visited">
    <div class="menu-item most-visited-menu-item" *ngFor="let menu of mostVisitedMenus" [routerLink]="menu.path" (click)="toggle(); addToMostVisited(menu)">
      <fa-icon [icon]="icons[menu.icon]"></fa-icon>
      <div class="title">{{ menu.title }}</div>
    </div>
  </div>
  <div class="menu-items">
    <div class="menu-item" *ngFor="let menu of menuModel.data | menuSearch:search" [routerLink]="menu.path" (click)="toggle(); addToMostVisited(menu)">
      <fa-icon [icon]="icons[menu.icon]"></fa-icon>
      <div class="title">{{ menu.title }}</div>
    </div>
  </div>
</div>
