<app-grid
  module="overpayment-inclusion"
  [model]="paymentModel"
  [searchParams]="searchParams"
  [height]="800"
  showPaginator
>
<div class="top-toolbar" #topToolbar>
  <div class="search-input">
    <div class="label">Túlfizetéses CEID:</div>
    <div class="input"><input type="number" [(ngModel)]="opCeid" ceidInput></div>
  </div>
  <div class="search-input">
    <div class="label">Beszámításos CEID:</div>
    <div class="input"><input type="number" [(ngModel)]="inclCeid" ceidInput></div>
  </div>
  <div class="search-input">
    <div class="label">Beszámítás dátuma:</div>
    <div class="input">
      <app-date-picker placeholder="éééé.hh.nn" [(model)]="inclusionDateFrom" [options]="dpOptions"></app-date-picker>
    </div>
  </div>
  <span class="dash">-</span>
  <div class="search-input">
    <div class="label"></div>
    <div class="input">
      <app-date-picker placeholder="éééé.hh.nn" [(model)]="inclusionDateTo" [options]="dpOptions"></app-date-picker>
    </div>
  </div>
  <app-button class="search-button" (click)="search()">Keresés</app-button>
</div>
<span class="bottom-toolbar" #bottomToolbar>
  <app-toolbar-button (click)="modalService.open('newOverPayment')" float="right" #toolbarButton>Új tétel felvétele</app-toolbar-button>
  <app-toolbar-button (click)="exportCsv()" float="right" #toolbarButton>Lista exportálása</app-toolbar-button>
</span>
</app-grid>
<app-modal width="350" id="newOverPayment" [title]="'Új tétel felvétele'">
  <form class="new-item-form" [formGroup]="newOverPaymentForm">
    <div class="input">
      <span>Túlfizetéses CEID:</span>
      <input type="text" formControlName="overPaymentCeid" [form]="newOverPaymentForm" ceidInput formInput>
    </div>
    <div class="input">
      <span>Payment Doc ID:</span>
      <input disabled type="text" formControlName="paymentDocId" [form]="newOverPaymentForm" formInput>
    </div>
    <div class="input">
      <span>Beszámításos CEID:</span>
      <input type="text" formControlName="inclusionCeid" [form]="newOverPaymentForm" ceidInput formInput>
    </div>
    <div class="input">
      <span>Beszámítás dátuma:</span>
      <app-date-picker placeholder="éééé.hh.nn" formControlName="inclusionDate" [control]="newOverPaymentForm.controls.inclusionDate" [form]="newOverPaymentForm" [options]="dpOptions" formInput></app-date-picker>
    </div>
    <div class="input">
      <span>Beszámítás összege:</span>
      <input type="number" formControlName="inclusionAmount" [form]="newOverPaymentForm" formInput>
    </div>
    <div class="input">
      <span>Jelenlegi egyenleg:</span>
      <input type="number" formControlName="balance" [form]="newOverPaymentForm" formInput>
    </div>
  </form>
    <div class="modal-footer">
      <app-button (click)="modalService.close('newOverPayment')">Cancel</app-button>
      <app-button type="submit" (click)="onNewOverPaymentSubmit()">Save</app-button>
    </div>
</app-modal>
