.top-toolbar {
  height: 100%;
  display: flex;
  align-items: center;
  .search-input {
    padding: 0 10px;
    input {
      height: 1.5rem;
    }
    .label {
      height: 1rem;
    }
  }
  .dash {
    margin-top: 15px;
  }
  .search-button {
    margin-top: 15px;
  }
}
.new-item-form {
  .input {
    margin-bottom: 10px;
    display: flex;
    span {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    input, app-date-picker {
      width: 150px;
    }
  }
}
