
<div class="grid"
  [style.height]="height + 10 + 'px'"
  [style.width]="width + 'px'"
  [style.grid-template-columns]="savedViews ? 'auto 250px' : 'auto'"
  [style.border]="border ? '5px solid #626c77' : 'none'"
  [style.border-top]="border ? '2px solid #626c77' : 'none'"
>
  <div class="table-wrapper">
    <div class="controls" [hidden]="!showFilters">
      <div class="sorters">
        Sorter:
        <button (click)="sortBy(field)" *ngFor="let field of sorterFields">
          <fa-icon *ngIf="model.hasSorter(field) === 'DESC'" [icon]="faSortAmountDown"></fa-icon>
          <fa-icon *ngIf="model.hasSorter(field) === 'ASC'" [icon]="faSortAmountDownAlt"></fa-icon>
          {{ field.displayName | translate }}
          <fa-icon [icon]="faTimesCircle" class="close" (click)="deleteSort(field)"></fa-icon>
        </button>
      </div>
      <div class="filters">
        Filter:
        <button
          (click)="showFilterWindow(field)"
          *ngFor="let field of filterFields"
        >{{ field.displayName | translate }}
          <fa-icon [icon]="faTimesCircle" class="close" (click)="deleteFilter(field)"></fa-icon>
        </button>
      </div>
    </div>
    <div class="top-toolbar" *ngIf="topToolbarContent">
      <ng-content select=".top-toolbar"></ng-content>
    </div>
    <div class="table-scroll" [style.height]="height - (hasToolbar ? 40 : 0) - (showFilters || topToolbarContent ? 80 : 0) + 'px'">
      <table class="main-table" #table>
        <thead>
          <tr>
            <th class="checkbox-column" *ngIf="selectionModel === 'checkbox'"><input type="checkbox" (click)="selectAll()" [checked]="isAllSelected"></th>
            <th class="table-header table-header-{{module}}"
              *ngFor="let column of model.displayFields"
              [attr.data-field]="column.name"
              [style.width]="hiddenColumns.length ? '' : column.width ? column.width + 'px' : rowWidth + 'px'"
              [hidden]="hiddenColumns.includes(column)"
            >{{ column.displayName | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="data-row" *ngFor="let row of model.data; index as rowIndex" (click)="selectRow(row)" (dblclick)="rowDoubleClick.emit(row)" [ngClass]="{'selected-row': isRowSelected(row)}">
            <td *ngIf="selectionModel === 'checkbox'"><input type="checkbox" class="selection-checkbox" [checked]="isRowSelected(row)"></td>
            <td
              *ngFor="let column of model.displayFields; index as columnIndex"
              [hidden]="hiddenColumns.includes(column)"
              [title]="errors[rowIndex] && errors[rowIndex][columnIndex] ? errors[rowIndex][columnIndex] : formatCellValue(row[column.name], column)"
            >
            <ng-container *ngIf="errors[rowIndex] && errors[rowIndex][columnIndex]">
              <fa-icon [icon]="faExclamationCircle" [title]="errors[rowIndex][columnIndex]"></fa-icon>
            </ng-container>
            {{ formatCellValue(row[column.name], column) }}</td>
          </tr>
        <tbody>
      </table>
    </div>
    <div class="loading" *ngIf="model.loading"></div>
  </div>
  <div class="toolbar" [style.height]="'40px'" [style.display]="hasToolbar ? 'block' : 'none'">
    <ng-content select=".bottom-left-toolbar"></ng-content>
    <app-paginator *ngIf="paginator" [model]="model" [searchParams]="searchParams"></app-paginator>
    <ng-content select=".bottom-toolbar"></ng-content>
  </div>

  <!-- SAVED VIEWS -->
  <ng-container *ngIf="savedViews">
    <div class="columns" [style.height]="height - 250 + 'px'">
      <div class="columns-table-wrapper" [style.height]="height - 290 + 'px'">
        <table>
          <thead>
            <tr><th>{{ 'common.columns' | translate }}</th></tr>
          </thead>
          <tbody>
            <tr (click)="selectColumn(column)" [ngClass]="{'selected-row': isColumnSelected(column)}" *ngFor="let column of model.displayFields">
              <td>
                <input [checked]="isColumnSelected(column)" type="checkbox" class="column-checkbox">
                {{ column.displayName | translate }}
              </td>
            </tr>
          <tbody>
        </table>
      </div>
      <div class="columns-toolbar" [style.height]="'40px'">
        <app-toolbar-button [disabled]="!selectedColumns.length" (click)="applyView()">{{ 'common.preview' | translate }}</app-toolbar-button>
        <app-toolbar-button [disabled]="!selectedColumns.length" (click)="selectedView ? createSavedView() : modalService.open('viewSaveModal-' + module)">{{ 'common.save' | translate }}</app-toolbar-button>
      </div>
    </div>
    <div class="saved-views" [style.height]="'250px'">
      <div class="saved-views-table-wrapper" [style.height]="'210px'">
        <table>
          <thead>
            <tr><th>{{ 'common.savedViews' | translate }}</th></tr>
          </thead>
          <tbody>
            <tr (click)="selectView(view)" [ngClass]="{'selected-row': selectedView === view}" *ngFor="let view of savedViewCollection">
              <td>{{ view.name }}</td>
            </tr>
          <tbody>
        </table>
      </div>
      <div class="columns-toolbar" [style.height]="'40px'">
        <app-toolbar-button [disabled]="!selectedView" (click)="applyView()">{{ 'common.apply' | translate }}</app-toolbar-button>
        <app-toolbar-button [disabled]="!selectedView" (click)="deleteSavedView()">{{ 'common.delete' | translate }}</app-toolbar-button>
        <app-toolbar-button (click)="resetView()">{{ 'common.reset' | translate }}</app-toolbar-button>
      </div>
    </div>
    <app-modal id="viewSaveModal-{{module}}" [title]="'The name of the view'">
      {{ 'common.pleaseEnterTheName' | translate }}<br>
      <input type="text" [(ngModel)]="savedViewName"/>
      <div class="modal-footer">
        <app-button (click)="modalService.close('viewSaveModal-' + module)">{{ 'common.cancel' | translate }}</app-button>
        <app-button (click)="onSaveNewViewButtonClick()" [disabled]="!savedViewName">{{ 'common.save' | translate }}</app-button>
      </div>
    </app-modal>
  </ng-container>
</div>

<!-- FILTER WINDOW -->
<app-modal id="gridFilterModal-{{module}}" [title]="'Filter'">
  <div *ngIf="selectedFilterField">
    <input type="radio" name="filter-type" [(ngModel)]="selectedFilterType" value="value">{{ 'common.value' | translate }}
    <input style="margin-left: 20px;" type="radio" [(ngModel)]="selectedFilterType" name="filter-type" value="empty">{{ 'common.empty' | translate }}
    <input style="margin-left: 20px;" type="radio" [(ngModel)]="selectedFilterType" name="filter-type" value="not-empty">{{ 'common.notEmpty' | translate }}
    <div [ngSwitch]="selectedFilterField.type" *ngIf="!selectedFilterField.filterModel && selectedFilterType === 'value'; else listFilter">
      <div *ngSwitchCase="'string'">
        <div>
          <div class="filter-row"><span>=</span><input type="text" class="filter-input" [(ngModel)]="filterTextValue"></div>
        </div>
      </div>
      <div *ngSwitchCase="'int'">
        <div>
          <div class="filter-row"><span><</span><input type="number" class="filter-input" [(ngModel)]="filterLtValue"></div>
          <div class="filter-row"><span>></span><input type="number" class="filter-input" [(ngModel)]="filterGtValue"></div>
          <div class="filter-row"><span>=</span><input type="number" class="filter-input" [(ngModel)]="filterNumberValue"></div>
        </div>
      </div>
      <div *ngSwitchCase="'date'">
        <div>
          <div class="filter-row"><span><</span><app-date-picker placeholder="éééé.hh.nn" [(model)]="filterDateLtValue" [options]="dpOptions"></app-date-picker></div>
          <div class="filter-row"><span>></span><app-date-picker placeholder="éééé.hh.nn" [(model)]="filterDateGtValue" [options]="dpOptions"></app-date-picker></div>
          <div class="filter-row"><span>=</span><app-date-picker placeholder="éééé.hh.nn" [(model)]="filterDateValue" [options]="dpOptions"></app-date-picker></div>
        </div>
      </div>
    </div>
    <ng-template #listFilter>
      <div class='list-filter' *ngIf="selectedFilterType === 'value'">
        <input type="text" class="search" placeholder="Keresés..." [(ngModel)]="filterListSearch">
        <div class="filter-list-row" *ngFor="let item of selectedFilterField.filterModel.model.data | filterItemsSearch: filterListSearch">
          <input type="checkbox"
            (change)="toggleListFilterItem(item)"
            [checked]="isFilterListItemChecked(item)">
          {{ item[selectedFilterField.filterModel.labelAttribute] }}
        </div>
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <app-button (click)="modalService.close('gridFilterModal-' + module); onFilterButtonClick()">{{ 'common.filter' | translate }}</app-button>
    <app-button (click)="modalService.close('gridFilterModal-' + module); onRemoveFilterButtonClick()">{{ 'common.remove' | translate }}</app-button>
  </div>
</app-modal>
<div class="drag-label" id="drag-label-{{module}}"></div>
