.grid {
  font-size: 12px;
}

.table-wrapper{
  overflow: auto;
  width: 100%;
  border-top: 1px solid silver;
}

table {
  position: relative;
  overflow-y: scroll;
  border-radius: 5px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;

  th {
    position: sticky;
    top: 0;
    background-color: #e0e0e0;
    color: #666;
    font-weight: bold;
  }

  td, th {
    text-align: left;
    padding: 9px;
  }

  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
}

.toolbar {
  background-color: #fafafa;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance:textfield;
  }
  padding: 1rem;

  .pageInput {
    width: 30px;
    height: 25px;
    margin: 0 5px;
  }

  .paging-button {
    cursor: pointer;
    background-repeat: no-repeat;
    text-align: center;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin: 0 5px;
    &.page-next {
      background-image: url('/assets/page-next.png');
    }
    &.page-prev {
      background-image: url('/assets/page-prev.png');
    }
    &.page-first {
      background-image: url('/assets/page-first.png');
    }
    &.page-last {
      background-image: url('/assets/page-last.png');
    }
    &.page-refresh {
      background-image: url('/assets/refresh.png');
      margin: 0 0.8rem;
    }
  }

  .toolbar-button {
    margin: 0 4px;
    color: #666;
    font-weight: bold;
    font-size: 12px;
    float: right;
    border-radius: 4px;
    padding: 4px 5px;
    border-width: 1px;
    border-color: #e1e1e1;
    border-style: solid;
    background-image: none;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f6f6f6,#f5f5f5 50%,#e8e8e8 51%,#f5f5f5);
    position: relative;
    zoom: 1;
    outline: 0;
    cursor: pointer;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    &:active {
      background-image: -webkit-linear-gradient(top,#e1e1e1,#d5d5d5 50%,#e1e1e1 51%,#e4e4e4);
    }
  }
}
