<div class="grid" [style.height]="height + 10 + 'px'" [style.width]="width + 'px'" [style.grid-template-columns]="savedViews ? 'auto 250px' : 'auto'">
  <div class="table-wrapper" [style.height]="height - 40 + 'px'">
    <table #table>
      <thead>
        <tr><th [hidden]="hiddenColumns.includes(column)" *ngFor="let column of model.fields">{{ column.displayName }}</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of model.data">
          <td [hidden]="hiddenColumns.includes(column)" *ngFor="let column of model.fields">{{ formatCellValue(row[column.name], column) }}</td>
        </tr>
      <tbody>
    </table>
    <div class="loading" *ngIf="model.loading"></div>
  </div>
  <div class="toolbar" [style.height]="'40px'">
      <span class="page-first paging-button" [style.cursor]="model.page === 1 ? 'default' : 'pointer'" [style.opacity]="model.page === 1 ? 0.5 : 1" (click)="model.firstPage()">&nbsp;</span>
      <span class="page-prev paging-button" [style.cursor]="model.page === 1 ? 'default' : 'pointer'" [style.opacity]="model.page === 1 ? 0.5 : 1" (click)="model.prevPage()">&nbsp;</span>
      Page
      <input class="pageInput" type="number" min="1" [max]="model.lastPageIndex" (input)="model.load($event.target.value)" [value]="model.page">
      of {{ model.lastPageIndex }}
      <span class="page-next paging-button" [style.cursor]="model.page === model.lastPageIndex ? 'default' : 'pointer'" [style.opacity]="model.page === model.lastPageIndex ? 0.5 : 1" (click)="model.nextPage()">&nbsp;</span>
      <span class="page-last paging-button" [style.cursor]="model.page === model.lastPageIndex ? 'default' : 'pointer'" [style.opacity]="model.page === model.lastPageIndex ? 0.5 : 1" (click)="model.lastPage()">&nbsp;</span>
      <span class="page-refresh paging-button" (click)="model.load()">&nbsp;</span>
      {{ model.startIndex }} - {{ model.endIndex }} of {{ model.totalCount }}
      <button class="toolbar-button">Új tétel felvétele</button>
      <button class="toolbar-button">Lista exportálása</button>
  </div>
  <ng-container *ngIf="savedViews">
    <div class="columns" [style.height]="height - 250 + 'px'">
      <div class="columns-table-wrapper" [style.height]="height - 290 + 'px'">
        <table>
          <thead>
            <tr><th>Columns</th></tr>
          </thead>
          <tbody>
            <tr (click)="selectColumn(column)" [ngClass]="{'selected-row': isColumnSelected(column)}" *ngFor="let column of model.fields">
              <td>
                <input [checked]="isColumnSelected(column)" type="checkbox" class="column-checkbox">
                {{ column.displayName }}
              </td>
            </tr>
          <tbody>
        </table>
      </div>
      <div class="columns-toolbar" [style.height]="'40px'">
        <button class="toolbar-button" [disabled]="!selectedColumns.length" (click)="filterColumns()">Előnézet</button>
        <button class="toolbar-button" [disabled]="!selectedColumns.length" (click)="createSavedView()">Mentés</button>
      </div>
    </div>
    <div class="saved-views" [style.height]="'250px'">
      <div class="saved-views-table-wrapper" [style.height]="'210px'">
        <table>
          <thead>
            <tr><th>Saved views</th></tr>
          </thead>
          <tbody>
            <tr (click)="selectView(view)" [ngClass]="{'selected-row': selectedView === view}" *ngFor="let view of savedViewCollection">
              <td>{{ view.name }}</td>
            </tr>
          <tbody>
        </table>
      </div>
      <div class="columns-toolbar" [style.height]="'40px'">
        <button class="toolbar-button" [disabled]="!selectedView" (click)="filterColumns()">Alkalmaz</button>
        <button class="toolbar-button" [disabled]="!selectedView" (click)="deleteSavedView()">Törlés</button>
        <button class="toolbar-button" (click)="selectedColumns = []; selectedView = null; filterColumns()">Alaphelyzetbe</button>
      </div>
    </div>
  </ng-container>
</div>
