/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-size: 13px;
  font-family: Helvetica, arial, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

app-modal {
  /* modals are hidden by default */
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number], input[type=text] {
  -moz-appearance:textfield;
  color: black;
  padding: 4px 6px 3px 6px;
  background: white repeat-x 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: silver #d9d9d9 #d9d9d9;
  height: 24px;
  line-height: 15px;
  &:focus {
    outline-width: 0;
  }
}
