/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: white !important;
  overflow: hidden !important;
  font-size: 13px;
  font-family: Helvetica, arial, verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
}

app-modal {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number], input[type=text] {
  -moz-appearance:textfield;
  color: black;
  padding: 4px 6px 3px 6px;
  background: white repeat-x 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: silver #d9d9d9 #d9d9d9;
  height: 24px;
  line-height: 15px;
  &:focus {
    outline-width: 0;
  }
}

textarea {
  padding: 4px 6px 3px 6px;
  background: white repeat-x 0 0;
  border-width: 1px;
  border-style: solid;
  border-color: silver #d9d9d9 #d9d9d9;
  font: normal 13px helvetica,arial,verdana,sans-serif;
}

.default-button {
  min-width: 75px;
  height: 25px;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #3d4752;
  border-top-color: rgb(61, 71, 82);
  border-right-color: rgb(61, 71, 82);
  border-bottom-color: rgb(61, 71, 82);
  border-left-color: rgb(61, 71, 82);
  margin: 0 5px;
  zoom: 1;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  text-decoration: none;
  padding: 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #626c77;
  background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#717a84),color-stop(50%,#626c77),color-stop(51%,#5d6671),color-stop(100%,#626c77));
  background-image: -webkit-linear-gradient(top,#717a84,#626c77 50%,#5d6671 51%,#626c77);
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;

  &:active {
    background-image: -webkit-linear-gradient(top,#495159,#454c54 50%,#495159 51%,#5b6269);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.window-body {
  height: calc(100vh - 130px);
  max-width: 100vw;
  overflow: hidden;
  border-bottom: 5px solid #626c77;
  border-right: 5px solid #626c77;
  border-left: 5px solid #626c77;
}

#extjs {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  height: calc(100vh - 90px);
}
